$color1: #9ca2ae;
$color2: #6d7687;
$color3: #222f49;
$color4: #505b6f;
$color5: #f3f3f3;
$color6: #e5f4ff;
$color7: #199cff;
$color8: #f9f9f9;
$color9: #aaafb8;
$color10: #424d63;
$color11: #808693;
$color12: red;

$fontsize1: 25px;
$fontsize2: 15px;
$fontsize3: 18px;

$box-shadow: 0 6px 6px -6px #999;
$box-shadow1: 0px 6px 5px lightgrey;
